/*DEBUG*/
.debug{
  background-color: rgba(255, 0, 0, .5);
  border: 2px solid red;
}

*{
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 50px;
} 

h2{
  font-size: 40px;
}

a{
  color: #FFFFFF;
}

a:hover{
  color: #7289DA;
  text-decoration: underline;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn{
  border-radius: 50px;
  padding: 3px 15px;
  background-color: #FFFFFF;
}

/*HEADER*/


header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #255EE9;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

header .menu ul{
  list-style: none;
  display: flex;
}

header .menu ul li{
  font-weight: 500;
  color: #FFFFFF;
  padding: 15px;
}

header .menu ul li a{
  text-decoration: none;
}

header .button a{
  font-size: .7rem;
  color: #23272A;
  text-decoration: none;
}

/*JUMBO*/

.jumbotron{
  background-image: url('../img/jumbo.png');
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  color: #FFFFFF;
  text-align: center;
  background-color: blue;
}

.jumbotron .content{
  max-width: 800px;
}

.jumbotron .content p{
  padding: 40px 0 20px;
  max-width: 550px;
}

.jumbotron .button{
  display: flex;
  justify-content: space-around;
  padding: 15px 25px;
}

.jumbotron .button a{
text-decoration: none;
}

.jumbotron .content .button .btn-white a{
  color: #525558;
}

.jumbotron .button .btn-black{
  background-color: black;
}

.jumbotron .button .btn-black a{
  color: #FFFFFF;
}




/*MAIN*/

section{
  color: #23272A;
}

section.bg-grey{
  background-color: #F6F6F6;
  position: relative;
}

section .container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

section .container .image{
  width: 60%;
}


section .container .text{
  width: 40%;
  padding: 40px;
}

section .container h2{
    padding-bottom: 30px;
  }


section.section-btn .container{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0;
}

section.section-btn .cta .button .btn{
  text-align: center;
  width: 80%;
  background-color: #8EA1E1;
}

section h3{
  padding-bottom: 30px;
}

section.section-btn .cta .button .btn{
  padding: 10px 0;
}

section.section-btn .cta .button  a{
  color: #FFFFFF;
  text-decoration: none;
}

/*FOOTER*/

footer{
  color: #FFFFFF;
  background-color: rgb(32, 32, 32);
}

footer h3{
  font-size: 25px;
  color: #7289DA;
}

footer .col-social img{
  height: 1rem;
}

footer .col-social .lingua{
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: .7rem;
}

footer .col-social .lingua span{
    margin: 0 5px;
  }


footer .col-social .icon-social i{
  padding: 5px 10px;
}

.footer-top{
  display: flex;
  padding: 50px 0;
}

.footer-top .col-social{
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.footer-top .col-menu{
  width: calc(100% / 6);
}

footer .col-menu .title-list{
  color: #7289DA;
  font-weight: 900;

}

footer .col-menu ul li{
  list-style: none;
  padding: 5px 0;
  font-size: .8rem;
  font-weight: 600;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #7289DA;
  padding: 20px 0 40px;
}

footer .button a{
  color: #FFFFFF;
text-decoration: none;
}

footer .button.btn{
  background-color: #7289DA;
  padding: 5px 20px;
  font-size: .8rem;
}


/* TEXT WAVE */

.custom-shape-divider-top-1663070419 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1663070419 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 81px;
}

.custom-shape-divider-top-1663070419 .shape-fill {
  fill: #F6F6F6;
}